package config

import (
	"net/url"

	"github.com/tidjee-dev/gocfg/env"
)

type AppConfig struct {
	Name  string
	Env   string
	Debug bool
	URL   *url.URL
}

func App() (AppConfig, error) {
	name, err := env.String("APP_NAME", "My App")
	if err != nil {
		return AppConfig{}, err
	}
	envVal, err := env.String("APP_ENV", "dev")
	if err != nil {
		return AppConfig{}, err
	}
	debug, err := env.Bool("APP_DEBUG", true)
	if err != nil {
		return AppConfig{}, err
	}
	url, err := env.URL("APP_URL", "http://localhost:9000")
	if err != nil {
		return AppConfig{}, err
	}
	return AppConfig{Name: name, Env: envVal, Debug: debug, URL: url}, nil
}
